.ai-message,
.farmer-message{

max-width:75%;

padding:12px;

border-radius:15px;

margin-bottom:12px;

font-size:15px;

}



.ai-message{

background:white;

align-self:flex-start;

}



.farmer-message{

background:#2E7D32;

color:white;

margin-left:auto;

}