.weather-card{

background:linear-gradient(135deg,#2E7D32,#4CAF50);

color:white;

padding:20px;

border-radius:20px;

margin-bottom:18px;

}

.weather-top{

display:flex;

justify-content:space-between;

align-items:center;

}

.weather-top h1{

font-size:40px;

}

.weather-bottom{

margin-top:20px;

display:flex;

justify-content:space-between;

text-align:center;

}

.weather-bottom span{

font-size:22px;

}

.weather-bottom small{

opacity:.9;

}